.item-content {
    width: 90%;
    margin: 0 auto; 
}

.tabs {
    display: flex;
    gap: 70px;
    margin: 20px 0;
    margin-left: 180px;
    font-weight: bold;
}

.tab {
    text-decoration: none;
    color: #000;
}

.tab.active {
    color: red;
    font-weight: bold;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item-card {
    display: block;
    text-decoration: none;
    color: black;
}

.item-card__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.item-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.item-card__name {
    margin-top: 10px;
    font-size: 16px;
}

.sold-label{
    position:absolute;
    top:10px;
    left:10px;
    background:red;
    color:white;
    padding:8px 14px;
    font-size:16px;
    font-weight:bold;
    z-index:10;
}